%aside.l-contents__top
  %section.l-contents__section.c-window__clear.p-chord__section
    .p-chord-new__title.js-judge__create-chord
      %h2 Create Chord Score
      .p-chord-new__subtitle -コード譜を作成する-

=form_with url: chords_path, method: :post, model: @chord, local: true do |f|
  %article.l-contents__main
    %section.c-window__skeleton
      .p-chord-new__song
        .c-song-candidate__wrapper
          .c-song-candidate__form
            =f.text_field :song_name, autocomplete:"off", id: "search_song_name", placeholder: "曲名",class: "c-form__textbox p-chord-new__textbox c-js__song-candidate"
            =f.text_field :song_id, id: "selected_song_id", class: "u-display__hidden"
          .c-song-candidate__lists.c-window__clear-black.u-display__hidden

      .content__search-result
      .p-chord-new__version.c-form__search-box
        .p-chord-new__version--form
          =f.text_field :version, placeholder: "コード譜の名前", class: "c-form__textbox"
        .p-chord-new__version--help.form__textbox
          %a version
    %section.p-chord__wrapper
      .p-chord__key-change
        .c-key-change__wrapper
          .c-key-change__display
            = f.text_field :key, id: "key_name", class: "key-display--form c-key-change__form u-display__hidden", value: "#{@chord.key}"
            .c-key-change__present
              = key_of(@chord.key)
          =render "/application/key-change"
        .c-key-change__guide << key change!!
        .c-key-change__close-layer
          .c-layer__skeleton
      .p-song__score.c-js__key-change.c-js__disable
        -$chordunit_num.times do |i|
          =render "/application/chordunit", i: i
        =render "/application/chordunit-form", f: f
    .content__registration
      =f.submit "登録", class:"c-form__btn c-form__btn--registration"
    - breadcrumb :chord_new
    = render "application/breadcrumbs", layout: "footer"
    .p-chord-new__editor-btn
      >> Editor
= render "/application/chord-editor"
