%aside.l-contents__top.l-contents__top--low-volume.l-contents__top--sub
  %section.l-contents__section.c-window__clear
    .p-user__title
      %h2 User Information
      .p-user__subtitle -ユーザ情報-
%article.c-user__position-article
  %section.c-section__sentence-box.p-user__section
    .p-user__section-header
      .p-user__icon--user
        %i.fas.fa-user
      .p-user__section-title 基本情報
    .p-user__section-content
      .p-user__info-list
        .p-user__info-item 名前:
        .p-user__info-data
          = @user.name
      - if user_signed_in? && @user.id == current_user.id
        .p-user__info-list
          .p-user__info-item メール:
          .p-user__info-data.p-user__info-data--email
            = @user.email
      .p-user__info-list
        .p-user__info-item 活動拠点:
        .p-user__info-data
          = @user.place.name
    .p-user__section-content
      -if user_signed_in?
        - if current_user.id == @user.id
          =link_to list_messages_path(id: current_user.id), class: "p-user__message-link" do
            .p-user__message.c-form__btn メッセージボックス
        - else
          =link_to messages_path(to_user_id: @user.id), class: "p-user__message-link" do
            .p-user__message.c-form__btn メッセージを送る
      - else
        .p-user__message.p-user__message--no-login.c-form__btn メッセージを送る
        .p-user__message-notice
        ※メッセージの送信にはログインが必要です

    .p-user__section-footer
      .p-user__review_icon.c-review__btn
        .c-review__icon
          %i.fas.fa-heart.p-user__icon-heart
        .c-review__amount
          = @user.chords.sum(:likes_count)
        .c-review__text コード譜の信頼数
      .p-user__edit
        - if user_signed_in? && current_user.id == @user.id
          =link_to "Edit", edit_user_registration_path(id: @user.id)
  %section.c-section__sentence-box.p-user__section
    .p-user__section-header
      .p-user__icon--user
        %i.fas.fa-lightbulb
      .p-user__section-title 練習曲一覧
    .p-user__section-content
      - if @practices.present?
        - @practices.each do |practice|
          .p-user__song{class: "c-js__practice-list--#{practice.id}"}
            .p-user__song-title
              %h2= practice.chord.song.title
            .p-user__song-menu
              = link_to "コード譜を見る", chord_path(practice.chord)
              - if user_signed_in? && current_user.id == @user.id
                %a= "|"
                %a.c-js__practice-delete.u-cursor__pointer{id: practice.chord.id} リストから削除する
        .u-space__top--10px.u-space__bottom--20px= pagy_nav(@pagy_practice).html_safe
      -else
        ="練習曲に登録している楽曲がありません"
  %section.c-section__sentence-box.p-user__section
    .p-user__section-header
      .p-user__icon--user
        %i.fas.fa-heart
      .p-user__section-title 信頼したコード譜
    .p-user__section-content
      - if @likes.present?
        - @likes.each do |like|
          .p-user__song{class: "c-js__like-list--#{like.id}"}
            .p-user__song-header
              .p-user__song-title
                %h2= like.chord.song.title
              .p-user__song-editor
                =link_to ">>作成者を見る", user_path(like.chord.user)
            .p-user__song-menu
              = link_to "コード譜を見る", chord_path(like.chord)
              - if user_signed_in? && current_user.id == @user.id
                %a= "|"
                %a.c-js__like-delete.u-cursor__pointer{id: like.chord.id} 信頼を取り消す
        .u-space__top--10px.u-space__bottom--20px= pagy_nav(@pagy_like).html_safe
      -else
        ="信頼した楽曲がありません"
  - breadcrumb :user_show
  = render "application/breadcrumbs", layout: "footer"
