= form_with(model: song, local: true) do |form|
  - if song.errors.any?
    #error_explanation
      %h2
        = pluralize(song.errors.count, "error")
        prohibited this song from being saved:
      %ul
        - song.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :jam
    = form.check_box :jam
  .field
    = form.label :standard
    = form.text_field :standard
  .field
    = form.label :beginner
    = form.check_box :beginner
  .field
    = form.label :user_id
    = form.text_field :user_id
  .actions
    = form.submit
