.p-search-result__wrapper
  %article.p-search-result__article
    %section.p-search-result__section.c-window__clear
      =render "application/search"
      %hr{color: "black", size: "1px"}
      .p-search-result__results
        - @songs.each do |song|
          =link_to song_path(song) do
            .p-search-result__result
              .p-search__song-title
                %h2
                  =song.title
              .c-icon__attributes
                .c-icon__attribute.c-js__attribute{value: "#{song.jam}"}
                  .c-icon__inner--jam
                    .c-form__icon-blank
                      %svg{class: "u-position__icon-docked--bottle", width: "19px", height: "22px"}
                        =render "/svg/bottle"
                      %svg{class: "u-position__icon-docked--strawberry", width: "10px", height: "10px"}
                        =render "/svg/strawberry"
                .c-icon__attribute.c-js__attribute{value: "#{song.standard}"}
                  %i.fas.fa-users.c-icon__inner--standard
                .c-icon__attribute.c-js__attribute{value: "#{song.beginner}"}
                  %svg{class: "c-icon__inner--beginner", width: "19px", height: "19px"}
                    =render "/svg/beginner"
                .c-icon__attribute.c-js__attribute{value: "#{song.vocal}"}
                  %i.fas.fa-microphone-alt.c-icon__inner--vocal
                .c-icon__attribute.c-js__attribute{value: "#{song.instrumental}"}
                  %i.fas.fa-guitar.c-icon__inner--instrumental
              .c-review__btn
                .c-review__icon
                  %i.fas.fa-lightbulb.c-review__icon-practice
                .c-review__amount
                  10
                .c-review__text
                  練習してる？
      .p-search-result__counter
        =@songs.length.to_s + "results.."
