%aside.l-contents__top
  %section.p-song__info.l-contents__section.c-window__clear
    .p-song__title
      %h2
        =@song.title
    .p-song__popular-key Popular key: A, B♭
    .p-song__attributes.c-form__attributes
      .p-song__attribute.c-form__attribute
        %p.c-form__icon-blank
          %svg{class: "u-position__icon-docked--bottle", width: "19px", height: "22px"}
            =render "/svg/bottle"
          %svg{class: "u-position__icon-docked--strawberry", width: "10px", height: "10px"}
            =render "/svg/strawberry"
        %a.c-js__attribute-state{value: "#{@song.jam}"} Jam
      .p-song__attribute.c-form__attribute
        %i.fas.fa-users
        %a.c-js__attribute-state{value: "#{@song.standard}"} Standard
      .p-song__attribute.c-form__attribute
        %svg{width: "19px", height: "19px"}
          =render "/svg/beginner"
        %a.c-js__attribute-state{value: "#{@song.beginner}"} Beginner
      .p-song__attribute.c-form__attribute
        %i.fas.fa-microphone-alt
        %a.c-js__attribute-state{value: "#{@song.vocal}"} Vocal
      .p-song__attribute.c-form__attribute
        %i.fas.fa-guitar
        %a.c-js__attribute-state{value: "#{@song.instrumental}"} Instrumental
    .p-chord__manage-score
      =link_to "Edit", edit_song_path
      %a
        |
      =link_to "Delete", song_path, method: :delete
%article.l-contents__main
  - @song.chords.each_with_index do |chord, i|
    %section.p-song__score-wrapper
      .p-song__header
        .p-song__key (key of A)
        =link_to ">> 拡大ページ", chord_path(chord), class: "p-song__detail-page"
      .p-song__score{id: "chord_#{i}"}
        - chord.chordunits.each_with_index do |unit, j|
          .c-chordunit.c-chordunit--small{id: "unit_#{i}-#{j}"}
            .c-chordunit__beat.c-chordunit__beat--small
              =chord.chordunits[j].beat
            .c-chordunit__leftbar.c-chordunit__leftbar--small
              =chord.chordunits[j].leftbar
            .c-chordunit__note
              .c-chordunit__note-name.c-chordunit__note-name--small
              .c-chordunit__half-note.c-chordunit__half-note--small
              .c-chordunit__modifier.c-chordunit__modifier--small
            .c-chordunit__rightbar.c-chordunit__rightbar--small
              =chord.chordunits[j].rightbar
            .c-chordunit__text.u-display__hidden{value: "#{chord.chordunits[j].text}"}
              =chord.chordunits[j].text          
      .p-song__footer
        %p.p-song__text-version
          =chord.version + " version"
        %p.p-song__text-writer
          ="by "+ chord.user.name
    .p-song__review
      =render "/application/review", chord: chord, i: i
      %hr

    -# .p-song__review
    -#   .c-review{class: "c-js__review-#{chord.id}",value: "#{chord.id}"}
    -#     .c-review__btn
    -#       .c-review__icon
    -#         %i.fas.fa-lightbulb.c-review__icon-practice
    -#       .c-review__amount
    -#         10
    -#       .c-review__text
    -#         練習してる？
    -#     .c-review__btn.c-js__review.c-js__not-like
    -#       .c-review__icon
    -#         %i.fas.fa-heart
    -#       .c-review__amount
    -#         10
    -#       .c-review__text
    -#         信頼できる？
    -# %hr