%p#notice= notice
%aside.l-contents__top
  %section.p-song__info.l-contents__section.c-window__clear
    .p-song__title
      %h2
        =@song.title
    .p-song__popular-key Popular key: A, B♭
    .p-song__attributes.c-form__attributes
      .p-song__attribute.c-form__attribute
        %p.p-song__icon-blank
          %svg{class: "u-position__icon-docked--bottle u-svg_color", width: "19px", height: "22px"}
            =render "/svg/bottle"
          %svg{class: "u-position__icon-docked--strawberry u-svg_color", width: "10px", height: "10px"}
            =render "/svg/strawberry"
        %a Jam
      .p-song__attribute.c-form__attribute
        %i.fas.fa-users
        %a Standard
      .p-song__attribute.c-form__attribute
        %svg{class: "u-svg_color", width: "19px", height: "19px"}
          =render "/svg/beginner"
        %a Beginner
      .p-song__attribute.c-form__attribute
        %i.fas.fa-microphone-alt
        %a Vocal
      .p-song__attribute.c-form__attribute
        %i.fas.fa-guitar
        %a Instrumental
%article.l-contents__main
  - @song.chords.each_with_index do |chord, i|
    %section.p-song__score-wrapper
      .p-song__header
        .p-song__key (key of A)
        =link_to ">> 拡大ページ", chord_path(chord), class: "p-song__detail-page"
      .p-song__score{id: "chord_#{i}"}
        - chord.chordunits.each_with_index do |unit, j|
          .c-chordunit.c-chordunit--small{id: "unit_#{i}-#{j}"}
            .c-chordunit__beat.c-chordunit__beat--small
              =chord.chordunits[j].beat
            .c-chordunit__leftbar.c-chordunit__leftbar--small
              -if chord.chordunits[j].leftbar != ""
                =chord.chordunits[j].leftbar
              - elsif j%4==0
                ="'"
            .c-chordunit__note
              .c-chordunit__note-name.c-chordunit__note-name--small
              .c-chordunit__half-note.c-chordunit__half-note--small
              .c-chordunit__modifier.c-chordunit__modifier--small
            .c-chordunit__rightbar.c-chordunit__rightbar--small
              -if chord.chordunits[j].rightbar != ""
                =chord.chordunits[j].rightbar
              - elsif j%4==(4-1)
                ="'"
            .c-chordunit__text.hidden{value: "#{chord.chordunits[j].text}"}
              =chord.chordunits[j].text          
      .p-song__footer
        %p.p-song__text-version
          =chord.version + " version"
        %p.p-song__text-writer
          ="by "+ chord.user.name
    .p-song__review
      .c-review
        .c-review__btn
          .c-review__icon
            %i.fas.fa-lightbulb.c-review__icon-practice
          .c-review__amount
            10
          .c-review__text
            練習してる？
        .c-review__btn
          .c-review__icon
            %i.fas.fa-heart
          .c-review__amount
            10
          .c-review__text
            信頼できる？
    %hr