%aside.l-contents__top
  %section.p-song__info.l-contents__section.c-window__clear
    .p-song__title
      %h2
        =@song.title
    .p-song__attributes.c-form__attributes
      .p-song__attribute.c-form__attribute
        %p.c-form__icon-blank
          %svg{class: "u-position__icon-docked--bottle", width: "19px", height: "22px"}
            =render "/svg/bottle"
          %svg{class: "u-position__icon-docked--strawberry", width: "10px", height: "10px"}
            =render "/svg/strawberry"
        %a.c-js__attribute-state{value: "#{@song.jam}"} Jam
      .p-song__attribute.c-form__attribute
        %i.fas.fa-users
        %a.c-js__attribute-state{value: "#{@song.standard}"} Standard
      .p-song__attribute.c-form__attribute
        %svg{width: "19px", height: "19px"}
          =render "/svg/beginner"
        %a.c-js__attribute-state{value: "#{@song.beginner}"} Beginner
      .p-song__attribute.c-form__attribute
        %i.fas.fa-microphone-alt
        %a.c-js__attribute-state{value: "#{@song.vocal}"} Vocal
      .p-song__attribute.c-form__attribute
        %i.fas.fa-guitar
        %a.c-js__attribute-state{value: "#{@song.instrumental}"} Instrumental
    .p-chord__manage-score
      =link_to "Edit", edit_song_path
      %a= "|"
      =link_to "Delete", song_path, method: :delete, data: { confirm: "本当によろしいですか？" }
%article.l-contents__main
  - if user_signed_in?
    =link_to new_chord_path(song_id: @song.id), class: "p-song__create_chord" do
      .p-song__create_chord_text コード譜を作成する
  - else
    .p-song__create_chord.p-song__create_chord--no_login コード譜を作成する
    %section.c-window__skeleton.p-song__recommend_login
      =link_to "ログイン後、コード譜の登録が可能です", new_user_session_path
  - if @chords.present?
    - @chords.each_with_index do |chord, i|
      %section.p-song__score-wrapper
        .p-song__header
          .p-song__key
            - if ["B","b"].include?(chord.key[1])
              = "(#{key_of(chord.key[0])}"
              %a{class: "font_base-key c-font__base"}= chord.key[1]
              %a )
            - else
              = "(#{key_of(chord.key)})"
          =link_to ">> 拡大ページ", chord_path(chord), class: "p-song__detail-page"
        .p-song__score{id: "chord_#{i}"}
          - chord.chordunits.each_with_index do |unit, j|
            .c-chordunit__wrapper.c-chordunit__wrapper--small.c-js__cursor-marker
              .c-chordunit__part.c-chordunit__part--small= chord.chordunits[j].part
              .c-chordunit__repeat.c-chordunit__repeat--small= chord.chordunits[j].repeat
              .c-chordunit__indicator.c-chordunit__indicator--small= chord.chordunits[j].indicator
              .c-chordunit.c-chordunit--small{id: "unit_#{i}-#{j}"}
                .c-chordunit__beat.c-chordunit__beat--small= chord.chordunits[j].beat
                .c-chordunit__leftbar.c-chordunit__leftbar--small
                  - unless (chord.chordunits[j-1].rightbar == chord.chordunits[j].leftbar) && (j%8 == 4)
                    =chord.chordunits[j].leftbar
                .c-chordunit__note
                  .c-chordunit__note-name.c-chordunit__note-name--small
                  .c-chordunit__half-note.c-chordunit__half-note--small
                  .c-chordunit__modifier.c-chordunit__modifier--small
                .c-chordunit__rightbar.c-chordunit__rightbar--small= chord.chordunits[j].rightbar
                .c-chordunit__text.u-display__hidden{value: "#{chord.chordunits[j].text}"}= chord.chordunits[j].text
        .p-song__footer
          %p.p-song__text-version= "#{chord.version} version"
          %p.p-song__text-writer= "by #{chord.user.name}"
      .p-song__review
        =render "/application/review", chord: chord, i: i
        %hr
  - else
    %section.c-window__skeleton.p-song__notice この楽曲には、コード譜が登録されていません
  - breadcrumb :song_show
  = render "application/breadcrumbs", layout: "footer"
