.c-chordunit__wrapper.c-chordunit__wrapper--large.c-js__cursor-marker
  .c-chordunit__part= @chord.chordunits[i].part
  .c-chordunit__repeat= @chord.chordunits[i].repeat
  .c-chordunit__indicator
    .c-chord-edit__js-indicator= @chord.chordunits[i].indicator
  .c-chordunit.c-chordunit--large{id: "unit_0-#{i}"}
    .c-chordunit__beat.c-chordunit__beat--large= @chord.chordunits[i].beat
    .c-chordunit__leftbar.c-chordunit__leftbar--large= @chord.chordunits[i].leftbar
    .c-chordunit__note
      .c-chordunit__note-name.c-chordunit__note-name--large
      .c-chordunit__half-note.c-chordunit__half-note--large
      .c-chordunit__modifier.c-chordunit__modifier--large
    .c-chordunit__rightbar.c-chordunit__rightbar--large= @chord.chordunits[i].rightbar
    .c-chordunit__text.u-display__hidden{value: "#{@chord.chordunits[i].text}"}= @chord.chordunits[i].text
