!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Grass Chords
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
.wrapper
  .header
    = link_to "GrassChords", root_path, class: "header__logo"
    -# ユーザー名表示　開発用
    - if user_signed_in?
      = @user.name

    .header__menu
      %i.fas.fa-search.menu--search-icon
      %i.fas.fa-bars.menu--bars-icon
  .contents
    = yield
  .footer
    .footer__copyright
      %a ©2020 GrassChords    
