!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Grass Chords
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
.wrapper
  .header
    = link_to "GrassChords", root_path, class: "header__logo"
    -# ユーザー名表示 開発用
    -# - if user_signed_in?
    -#   = @user.name
    

    .header__menu
      %i.fas.fa-search.menu--search-icon
      .navi-menu 
        %span
        %span
        %span
  #navi.hidden
    %ul.menu__lists
      -if user_signed_in?
        %li.lists__list マイページ
        %li.lists__list 練習リスト
        %li.lists__list データ作成
        %ul
          %li.list--childlist
            =link_to "楽器", new_instrument_path, class:"list--text"
          %li.list--childlist
            =link_to "コード譜", new_chord_path, class:"list--text"
          %li.list--childlist
            =link_to "コード運指", new_finger_all_path, class:"list--text"
          %li.list--childlist
            =link_to "チューニング", new_tuning_all_path, class:"list--text"
          %li.list--childlist
            =link_to "楽曲", new_song_path, class:"list--text"
          %li.list--childlist
            譜面
      -else
        %li.lists__list
          =link_to "新規登録", new_user_registration_path, class:"list--text"
        %li.lists__list
          =link_to "ログイン", new_user_session_path, class:"list--text"
      %li.lists__list PDF作成
      %li.lists__list 譜面の検索
      %li.lists__list お問い合わせ
      -if user_signed_in?
        %li.lists__list ログアウト


  = form_with url: search_songs_path, class: "content__search-window search-float hidden", method: :get, local: true do |f|
    =f.text_field :keyword
    =f.submit "検索"
  = yield
  .footer
    .footer__copyright
      %a ©2020 GrassChords    
